.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-xs);

  transition: var(--tr-time);
}
